body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: White;
    background-image: url('img/fondo/fotos.avif');
    margin: 0;
    padding: 0;
}

header {
    background-color: #470c1c;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}

header h1 {
    margin-bottom: 10px;
    font-size: 40px;
    font-style: italic;
    color: rgb(242, 237, 237);
    
}



nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    
    
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    transition: background-color 0.3s;
    font-size: large;
    background: linear-gradient(90deg, #5a2c91, #4e77c8);
    
}

nav ul li a:hover {
    background: linear-gradient(90deg, rgba(128, 128, 128, 0.3), rgba(70, 130, 180, 0.5)); /* Plomo y azul con transparencia */
    transform: scale(1.03); /* Incremento sutil del tamaño */
    box-shadow: 0px 4px 6px rgba(111, 159, 174, 0.3); /* Sombra ligera y menos brillante */
    color: white; /* Mantener color de texto */
}

.menu-toggle {
    display: none;
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    /* Ocultar el menú en pantallas pequeñas - Todo el menu */ 
    nav ul {
        display: none;
        flex-direction: column;
        gap: 15px;
        text-align: center;
        margin-top: 20px;
        padding: 20px;
        background-image: url('img/fondo/header.jpg');
         /* La imagen se ajusta para estar completamente visible */
        /*background-repeat: no-repeat;  Evita que la imagen se repita */
        background-position: center; /* Centra la imagen */
        background-color: #7D8E94;
    }

    .menu-toggle {
        display: block;
        color: white;
        padding: 10px;
        
        background-color: #400615;
        border: none;
        cursor: pointer;
    }

    nav ul li a {
        padding: 11px;
        font-size: 18px;
        background-color: #7D8E94;
        color: white;
        
    }

    nav ul li {
        margin-bottom: 10px; /* Agrega espacio entre cada elemento de la lista */
    }

    
}

nav ul.show {
    display: flex;
}



.container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.gallery-container {
    display: grid; /* Usamos grid para un diseño controlado */
    grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    grid-auto-rows: 500px; /* Duplicamos la altura fija de cada fila */
    gap: 20px; /* Espacio entre elementos */
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.gallery-item {
    position: relative;
    width: 100%; /* La celda del grid define el ancho */
    height: 100%; /* La altura se ajusta automáticamente */
    cursor: pointer;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta las imágenes para llenar el espacio */
    transition: transform 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.05); /* Zoom más sutil */
}



.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* Fondo semitransparente */
    color: white;
    width: 100%;
    padding: 5px; /* Espaciado reducido para texto */
    box-sizing: border-box;
    text-align: center;
    font-size: 0.9rem; /* Texto más pequeño */
}

@media screen and (max-width: 768px) {
    .gallery-container {
        grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
        grid-auto-rows: 400px; /* Ajustar la altura en móviles si es necesario */
    }
}


.gallery-item.photoespecial {
    border: 6px solid transparent;  /* Aumentar grosor del borde */
    padding: 0;  /* Eliminar espacio entre la imagen y el borde */
    animation: rainbowBorder 3s infinite linear;
}

.gallery-item.photoespecial img {
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.gallery-item.photoespecial:hover img {
    opacity: 1;
}

@keyframes rainbowBorder {
    0% {
        border-image: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet) 1;
    }
    50% {
        border-image: linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red) 1;
    }
    100% {
        border-image: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet) 1;
    }
}

#modal-img.photoespecial {
    border: 6px solid transparent;  /* Aumentar grosor del borde */
    padding: 0;
    animation: rainbowBorder 3s infinite linear;  /* Aplicar borde arcoíris */
}


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    max-height: 80%;
}

.modal-content img {
    width: 100%;
    max-height: 70vh;
    object-fit: contain;
}

#modal-caption {
    color: white;
    margin-top: 10px;
    text-align: center;
    font-size: 1.2em;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #35278C;
    color: #fff;
    margin-top: 20px;
    animation: fadeInFooter 1.5s ease-in-out;
    background-color: #470c1c;

}

footer p {
    margin: 0;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0; /* Espacio entre la paginación y los elementos cercanos */
    margin-top: 100px;
    
}

.pagination .page-number {
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    background-color: rgb(191, 209, 224);
    transition: background-color 0.3s, color 0.3s;
}

.pagination .page-number:hover {
    background-color: #333;
    color: #fff;
}

.pagination .page-number.active {
    background-color: #333;
    color: #fff;
    font-weight: bold;
}

.back-button {
    font-size: 16px;
    font-weight: bold;
    color: black; /* Azul */
    text-decoration: none;
    padding: 5px 10px;
    border: 2px solid #000000;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-left: 20px; /* Ajusta hacia la derecha */
    padding-left: 20px;
    margin-top: 20px; /* Mueve hacia abajo */
    display: inline-block; /* Asegura que se respete el margin */
    background-color: rgb(191, 209, 224);

}

.back-button:hover {
    background-color: #383a3d; /* Fondo azul al pasar el mouse */
    color: white; /* Texto blanco */
}
